@page "/"
@inherits ObserverComponent
@using Shuffler.Core
@using Shuffler.Core.Models
@using Shuffler.UI.Services
@inject ShufflerCore Shuffler
@inject HomeStateService HomeState

<div class="h-full flex overflow-hidden">
    <div class="flex-1 flex flex-col overflow-hidden relative">
        <PresetViewer Session="Session" />
    </div>

    <PlayerDrawer Session="Session" />
</div>

@code {
    private ShufflerSession Session => Observe(Shuffler.Session);
}